.external-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.external-link {
    width: 20px;
    height: auto;
    list-style-type: none;
}

.breadcrumb-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}